.product-box-3 .product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 260px;
    border-radius: 4px;
}

.product-box-3 .product-image a {
    width: 100%;
    height: 260px;
}

.product-box-3 .product-image img {
    width: 100% !important;
    height: 100% !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.quick-view-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
#quick-view .name {
    font-size: 24px;
}
#quick-view .btn-solid span {
    color: white;
    font-size: 16px;
}
#quick-view h5 {
    font-size: 16px;
}
#quick-view .product-variant{
    padding: 15px 0 0;
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    margin-bottom: 20px;
    margin-top: 0px;
}
#quick-view .product-info {
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product-thumbnail-page {
    padding-bottom: 40px;
}
.product-box-3 .product-image.has-back-image .product-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1s ease, transform 1s ease;
}

.product-box-3 .product-image.has-back-image:hover .product-thumb {
    opacity: 0;
}

.product-box-3 .product-image.has-back-image:hover .product-back {
    opacity: 1;
    transform: scale(1);
}
.btn-buy {
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}
.btn-buy i{
    font-size: 15px;
    padding-right: 8px;
}
.product-detail {
    padding-left: 12px;
    padding-right: 12px;
}
.product-box-3{
    border-radius: 7px;
    box-shadow: 0px 0px 2px #00000033;
    position: relative;
}
.discountvalue{
    position: absolute;
    top: 0;
    left: -4px;
    border-top-left-radius: 4px;
}
.swiper-wrapper.ratio_square-2 .bg-img{
    height: 700px;
    width: 97%;
}
.text-danger {
    color: #dc3545e3 !important;
    font-weight: 500;
}
.error-border{
    border: 1px solid #dc3545e3;
}
.btn-submit{
    width: 90px;
}
.btn-submit span {
    font-size: 16px !important;
    color: white !important;
}

.cart-btn{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99;
}
.addcart span{
    color: white;
    font-size: 18px;
}

.no-cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}
.no-cart img {
    opacity: .2;
    width: 100px;
}
.no-cart h5{
    font-size: 18px;
    padding-top: 15px;
}
.no-cart a {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 14px;
    background-color: #c0c0c038;
}
.no-cart i {
    padding-left: 7px;
    font-size: 19px;
}
.delete-icon {
    --Iconsax-Color: #ff0000a6 !important;
}
.shopping-details .quantity button i{
    font-size: 12px !important;
}
.shopping-details .quantity button{
    height: 28px !important;
    width: 28px !important;
}
.shopping-details .quantity input{
    height: 30px !important;
    width: 50px !important;
}
.shopping-details .quantity{
    margin: 5px 0;
}

.cart-btn button{
    background-image: linear-gradient(90deg, #222 0, #494949 51%, #222);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    width: 50px;
    height: 42px;
    margin-right: -3px;
}
.cart-count {
    background: #353535;
    color: white;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
    left: 14px;
}
.selected li {
    cursor: pointer;
}
.option-box label{
    margin-bottom: 0 !important;
    font-weight: 500;
    cursor: pointer;
}
.option-box li.active label{
    color: white;
}
#checkout-form button[type="submit"] span{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 15px 1px #0000000d;
    transition: all .3s ease-in-out;
    margin-bottom: 40px;
}

header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    /* opacity: .95; */
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
      
    }
    to {
      opacity: 1;
      -webkit-transform: translateZ(0);
            transform: translateZ(0);
      
    }
  }

.search-boxmenu{
    width: 50%;
    display: flex;
    position: relative;
}
.search-boxmenu input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}
.search-boxmenu i {
    position: absolute;
    right: 15px;
    top: 32%;
}
.search-boxmenu form {
    width: 100%;
}
.product-list{
    background: #fffffffc;
    max-height: 400px;
    width: 100%;
    position: absolute;
    top: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 12px;
    overflow-y: scroll;
}
.product-list ul {
    padding: 10px 0 !important;
}
.product-list li {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px !important;
    margin-bottom: 3px;
}
.product-list img {
    height: 50px;
    width: 45px;
    border-radius: 2px;
    object-fit: cover;
}
.product-list a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.product-list a:hover {
    background-color: #eeeeee59;
}
.product-list span {
    display: block;
    font-size: 12px;
    padding-top: 1px;
}
.product-list .product-info {
    padding-left: 10px;
}
.product-list .last {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
.product-list .no-found {
    text-align: center;
    color: #ff00007a !important;
    font-weight: 600;
}
.left-box {
    padding-right: 20px;
}
footer {
    margin-top: 50px;
    padding-top: 40px;
}
.for-mobile {
    display: none !important;
}


/* responsive */
@media (max-width: 576px) {
    .product-box-3 .product-image{height: 210px;}
    .product-box-3 .product-image a{height: 210px;}
    .product-box-3 .product-detail h6{font-size: 13px;padding-top: 4px;line-height: 20px;}
    .btn-buy, .btn-buy i{font-size: 13px;}
    .btn-buy i{padding-right: 3px;}
    footer{margin-top: 0;}
    header {margin-bottom: 20px;}
    .for-dekstop {display: none !important;}
    .for-mobile {display: block !important;}
    .top-filter-menu select {width: 100% !important;}
    .for-mobile .tags {padding-top: 12px;}
    .top-filter-menu {display: block;}
    .tags li {margin-bottom: 5px;}
    .top-filter-menu{margin-bottom: 8px;}
    .quick-view-img img{height: 230px;}
    #quick-view .name{font-size: 18px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .product-description{margin-bottom: 15px;}
    #quick-view .product-variant{padding: 2px 0 0;margin-bottom: 5px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .color-variant li{height: 20px;width: 20px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .product-buttons .btn{font-size: 14px; padding: 5px 10px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .color-variant{margin-bottom: 5px;}
    .btn-buy{margin-top: 15px;}
    #quick-view .btn-solid span{font-size: 14px;}
    .theme-modal .modal-dialog .modal-content .modal-body{padding: 20px 15px;}
    .option-box label{font-size: 13px;}
    .option-box ul li{height: 25px;width: 25px;}
    .tap-top i{font-size: 15px;}
    .tap-top{width: 30px;height: 30px;}
    .tap-top.top{right: 10px;}
    .cart-btn button{font-size: 18px;width: 40px;height: 35px;}
    .cart-count{font-size: 12px;left: 14px;top: -20px;width: 17px;height: 17px;}
    h6{font-size: 14px;}
    .offcanvas-cart ul li p,.offcanvas-cart strong {font-size: 13px;}
    .shopping-details .quantity button i {
        font-size: 11px !important;
    }
    .shopping-details .quantity button {
        height: 24px !important;
        width: 24px !important;
    }
    .shopping-details .quantity input{height: 25px !important;width: 45px !important;font-size: 13px;}
}