.product-box-3 .product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
    border-radius: 4px;
}

.product-box-3 .product-image a {
    width: 100%;
    height: 280px;
}

.product-box-3 .product-image img {
    width: 100% !important;
    height: 100% !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.quick-view-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
#quick-view .name {
    font-size: 24px;
}
#quick-view .btn-solid span {
    color: white;
    font-size: 16px;
}
#quick-view h5 {
    font-size: 16px;
}
#quick-view .product-variant{
    padding: 15px 0 0;
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    margin-bottom: 20px;
    margin-top: 0px;
}
#quick-view .product-info {
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product-thumbnail-page {
    padding-bottom: 40px;
}
.product-box-3 .product-image.has-back-image .product-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1s ease, transform 1s ease;
}

.product-box-3 .product-image.has-back-image:hover .product-thumb {
    opacity: 0;
}

.product-box-3 .product-image.has-back-image:hover .product-back {
    opacity: 1;
    transform: scale(1);
}
.btn-buy {
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}
.btn-buy i{
    font-size: 15px;
    padding-right: 8px;
}
.product-detail {
    padding-left: 12px;
    padding-right: 12px;
}
.product-box-3{
    border-radius: 7px;
    box-shadow: 0px 0px 2px #00000033;
    position: relative;
}
.discountvalue{
    position: absolute;
    top: 0;
    left: -4px;
    border-top-left-radius: 4px;
}
.swiper-wrapper.ratio_square-2 .bg-img{
    height: 700px;
    width: 97%;
}
.text-danger {
    color: #dc3545e3 !important;
    font-weight: 500;
}
.error-border{
    border: 1px solid #dc3545e3;
}
.btn-submit{
    width: 90px;
}
.btn-submit span {
    font-size: 16px !important;
    color: white !important;
}

.cart-btn{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99;
}
.addcart span{
    color: white;
    font-size: 18px;
}

.no-cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}
.no-cart img {
    opacity: .2;
    width: 100px;
}
.no-cart h5{
    font-size: 18px;
    padding-top: 15px;
}
.no-cart a {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 14px;
    background-color: #c0c0c038;
}
.no-cart i {
    padding-left: 7px;
    font-size: 19px;
}
.delete-icon {
    --Iconsax-Color: #ff0000a6 !important;
}
.shopping-details .quantity button i{
    font-size: 12px !important;
}
.shopping-details .quantity button{
    height: 28px !important;
    width: 28px !important;
}
.shopping-details .quantity input{
    height: 30px !important;
    width: 50px !important;
}
.shopping-details .quantity{
    margin: 5px 0;
}

.cart-btn button{
    background-image: linear-gradient(90deg, #222 0, #494949 51%, #222);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    width: 50px;
    height: 42px;
    margin-right: -3px;
}
.cart-count {
    background: #353535;
    color: white;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
    left: 14px;
}
.selected li {
    cursor: pointer;
}
.option-box label{
    margin-bottom: 0 !important;
    font-weight: 500;
    cursor: pointer;
}
.option-box li.active label{
    color: white;
}
#checkout-form button[type="submit"] span{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}