.product-box-3 .product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}

.product-box-3 .product-image a {
    width: 100%;
    max-height: 240px;
}

.product-box-3 .product-image img {
    width: 100% !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.quick-view-img img {
    width: 100%;
    /* height: 450px; */
    object-fit: cover;
}
#quick-view .name {
    font-size: 24px;
}
#quick-view .btn-solid span {
    color: white;
    font-size: 16px;
}
#quick-view h5 {
    font-size: 16px;
}
#quick-view .product-variant{
    padding: 15px 0 0;
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    margin-bottom: 20px;
    margin-top: 0px;
}
#quick-view .product-info {
    border-bottom: 1px dashed rgba(var(--light-border), 1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product-thumbnail-page {
    padding-bottom: 40px;
}
.product-box-3 .product-image.has-back-image .product-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1s ease, transform 1s ease;
}
.product-box-3 .product-detail h6{
    font-weight: 600;
}
.product-box-3 .product-image.has-back-image:hover .product-thumb {
    opacity: 0;
}

.product-box-3 .product-image.has-back-image:hover .product-back {
    opacity: 1;
    transform: scale(1);
}
.btn-buy {
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}
.btn-buy i{
    font-size: 15px;
    padding-right: 8px;
}
.product-detail {
    padding-left: 12px;
    padding-right: 12px;
}
.product-box-3{
    border-radius: 7px;
    box-shadow: 0px 0px 2px #00000033;
    position: relative;
}
.discountvalue{
    position: absolute;
    top: 0;
    left: -4px;
    border-top-left-radius: 4px;
}
.swiper-wrapper.ratio_square-2 .bg-img{
    max-height: 700px;
    width: 97%;
}
.text-danger {
    color: #dc3545e3 !important;
    font-weight: 500;
}
.error-border{
    border: 1px solid #dc3545e3;
}
.btn-submit{
    width: 90px;
}
.btn-submit span {
    font-size: 16px !important;
    color: white !important;
}

.cart-btn{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 8;
}
.addcart span{
    color: white;
    font-size: 18px;
}

.no-cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}
.no-cart img {
    opacity: .2;
    width: 100px;
}
.no-cart h5{
    font-size: 18px;
    padding-top: 15px;
}
.no-cart a {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 14px;
    background-color: #c0c0c038;
}
.no-cart i {
    padding-left: 7px;
    font-size: 19px;
}
.delete-icon {
    --Iconsax-Color: #ff0000a6 !important;
}
.shopping-details .quantity button i{
    font-size: 12px !important;
}
.shopping-details .quantity button{
    height: 28px !important;
    width: 28px !important;
}
.shopping-details .quantity input{
    height: 30px !important;
    width: 50px !important;
}
.shopping-details .quantity{
    margin: 5px 0;
}

.cart-btn button{
    background-image: linear-gradient(90deg, #222 0, #494949 51%, #222);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    width: 50px;
    height: 42px;
    margin-right: -3px;
}
.cart-count {
    background: #353535;
    color: white;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
    left: 14px;
}
.selected li {
    cursor: pointer;
}
.option-box label{
    margin-bottom: 0 !important;
    font-weight: 500;
    cursor: pointer;
}
.option-box li.active label{
    color: white;
}
#checkout-form button[type="submit"] span{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 15px 1px #0000000d;
    transition: all .3s ease-in-out;
    margin-bottom: 40px;
}

header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    /* opacity: .95; */
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
      
    }
    to {
      opacity: 1;
      -webkit-transform: translateZ(0);
            transform: translateZ(0);
      
    }
  }

.search-boxmenu{
    width: 100%;
    display: flex;
    position: relative;
}
.search-boxmenu input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}
.search-boxmenu i {
    position: absolute;
    right: 15px;
    top: 32%;
}
.search-boxmenu form {
    width: 100%;
}
.product-list{
    background: #fffffffc;
    max-height: 400px;
    width: 100%;
    position: absolute;
    top: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 12px;
    overflow-y: scroll;
    left: 0;
}
.product-list ul {
    padding: 10px 0 !important;
}
.product-list li {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px !important;
    margin-bottom: 3px;
}
.product-list img {
    height: 50px;
    width: 45px;
    border-radius: 2px;
    object-fit: cover;
}
.product-list a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.product-list a:hover {
    background-color: #eeeeee59;
}
.product-list span {
    display: block;
    font-size: 12px;
    padding-top: 1px;
}
.product-list .product-info {
    padding-left: 10px;
}
.product-list .last {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
.product-list .no-found {
    text-align: center;
    color: #ff00007a !important;
    font-weight: 600;
}
.left-box {
    padding-right: 20px;
}
footer {
    margin-top: 50px;
    padding-top: 40px;
}
.for-mobile {
    display: none !important;
}

.releted-list .product-box-3 .product-image a {
    max-height: 190px !important;
}
.releted-list .btn-buy i {
    font-size: 13px;
    padding-right: 4px;
}
.releted-list  .btn-buy{
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
}
.releted-list .product-box-3 .product-detail p{
    font-size: 13px;
}
.releted-list .product-box-3 .product-detail h6{
    font-size: 14px;
}
.social-icon ul li {
    display: inline-block !important;
    padding-bottom: 0 !important;
    padding: 0 5px;
}
#banner-section{
    margin-top: -40px;
}
.highlitedproduct{
    padding-top: 60px;
}
#hilghtrow {
    padding: 0 60px;
}
#hilghtrow .product-detail p {
    font-size: 13px;
}
#hilghtrow .product-box-3 .product-detail p span{
    padding: 2px 6px;
    font-size: 11px;
}
#hilghtrow .product-box-3 {
    box-shadow: 0 !important;
    box-shadow: none !important;
}
#hilghtrow  .product-detail{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.page-link {
    background: #353535;
    border-color: #353535;
    border-radius: 4px;
    padding: 2px 11px;
    color: white;
}
.page-item.active .page-link {
    background: rgba(var(--theme-default), 1);
    border-color: rgba(var(--theme-default), 1);
}
.page-link:hover {
    background: rgba(var(--theme-default), 1);
    border-color: rgba(var(--theme-default), 1);
    color: white;
}
.page-link:focus{
    box-shadow: 0 !important;
    box-shadow: none !important;
}
.topcategory {
    margin-top: 60px;
}
.catBox {
    background: #f6f6f6;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
.catBox:hover {
    box-shadow: 0px 0px 10px 0px #00000014;
}

.cat-item {
    display: flex;
    padding: 0 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.catBox img {
    width: 120px;
    border-radius: 15px;
    height: 120px;
    object-fit: cover;
}
.catBox h5 {
    font-size: 16px !important;
    padding-top: 10px;
    margin-bottom: 0px;
}
.subscribe-content{
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 20px;
}

/* responsive */
@media (max-width: 576px) {
    .product-box-3 .product-image a{max-height: 160px;}
    .product-box-3 .product-detail h6{font-size: 12px;padding-top: 4px;line-height: 16px;}
    .btn-buy, .btn-buy i{font-size: 12px;}
    .btn-buy i{padding-right: 3px;}
    footer{margin-top: 35px;}
    header {margin-bottom: 30px;}
    .for-dekstop {display: none !important;}
    .for-mobile {display: block !important;}
    .top-filter-menu select {width: 100% !important;}
    .for-mobile .tags {padding-top: 12px;}
    .top-filter-menu {display: block;}
    .tags li {margin-bottom: 5px;}
    .top-filter-menu{margin-bottom: 8px;}
    .quick-view-img img{height: 230px;}
    #quick-view .name{font-size: 18px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .product-description{margin-bottom: 15px;}
    #quick-view .product-variant{padding: 2px 0 0;margin-bottom: 5px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .color-variant li{height: 24px;width: 24px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .product-buttons .btn{font-size: 14px; padding: 5px 10px;}
    .theme-modal .modal-dialog .modal-content .modal-body .product-right .color-variant{margin-bottom: 5px;}
    .btn-buy{margin-top: 10px;}
    #quick-view .btn-solid span{font-size: 14px;}
    .theme-modal .modal-dialog .modal-content .modal-body{padding: 20px 15px;}
    .option-box label{font-size: 13px;}
    .tap-top i{font-size: 15px;}
    .tap-top{width: 30px;height: 30px;}
    .tap-top.top{right: 10px;}
    .cart-btn button{font-size: 18px;width: 40px;height: 35px;}
    .cart-count{font-size: 12px;left: 14px;top: -20px;width: 17px;height: 17px;}
    h6{font-size: 14px;}
    .offcanvas-cart ul li p,.offcanvas-cart strong {font-size: 13px;}
    .shopping-details .quantity button i {
        font-size: 11px !important;
    }
    .shopping-details .quantity button {
        height: 24px !important;
        width: 24px !important;
    }
    .shopping-details .quantity input{height: 25px !important;width: 45px !important;font-size: 13px;}
    #checkout-form{padding: 20px 5px;}
    .address-title h4 {
        font-size: 18px;
    }
    #checkout-form label{font-size: 15px;}
    .right-sidebar-checkout{padding: 15px 8px;margin-top: 30px;}
    .summary-total > ul li p{font-size: 15px;}
    .summary-total > ul li span{font-size: 14px;}
    .cart-listing > ul li p{font-size: 12px;font-weight: 500;}
    #checkout-form button[type="submit"] span{font-size: 16px;}
    .payment-box img{width: 85px;}
    .payment-options .payment-box{padding: 15px 10px;gap: 0px;}
    header .header-1 .main-menu nav .sm-horizontal .mobile-back{padding-bottom: 12px;}
    .mobile-nav-footer h5 {font-size: 14px;padding-top: 8px;}
    .mobile-nav-footer .footer-content ul li a{font-size: 14px;}
    .mobile-nav-footer .footer-content ul li{padding-bottom: 5px;}
    .mobile-nav-footer .footer-content .accordion-hidden{padding-top: 2px;}
    .mobile-nav-footer {padding-top: 20px !important; margin-top: 0 !important;}
    .mobile-nav-footer .cat-title {font-weight: 500;font-size: 14px;padding-bottom: 5px;padding-top: 5px;}
    .mobile-nav-footer .footer-content .footer-title h5:before{right: 2px;}
    .mobile-nav-footer .active {color:rgba(var(--theme-default), 1);}
    .offcanvas {max-width: 93%;}
    header .header-1 .main-menu .brand-logo img{max-width: 82%;}
    header .header-1 .main-menu .sub_header{align-items: center;}
    .product-list ul {display: block !important;}
    .product-list{margin-top: -2px;}
    .product-box-3 .product-detail p{font-size: 12px;}
    .shopping-details .offcanvas-body > ul li img{width: 60px;height: 75px;}
    .offcanvas-cart p {font-size: 13px;}
    .offcanvas-cart h6 {text-wrap: revert;}
    .table-title button{font-size: 15px;}
    .cart-box img{width: 60px;height: 70px;}
    #cart-table td, #cart-table h5 {text-wrap: revert;}
    .cart-box a h5{line-height: 20px;font-size: 13px;}
    .cart-box p{font-size: 11px;}
    .swiper-wrapper.ratio_square-2 .bg-img{max-height: 340px;width: 100%;}
    .product-detail-box .product-option .quantity-box .btn_black{padding: 10px;}
    .addcart span{font-size: 14px;}
    .addcart {width: 185px !important;}
    .product-section-box{margin-top: 0;}
    #banner-section{margin-top: -30px;}
    .service ul li .service-block img{height: 30px;}
    .service ul li .service-block{gap: 6px;}
    .topcategory{margin-top: 30px;}
    .cat-item{padding: 0;}
    .catBox{padding: 15px;}
    .highlitedproduct{padding-top: 30px;}
    #hilghtrow{padding: 0;}
    .special-offer-slider{padding: 12px 10px 0;}
    .special-offer-slide .swiper-button-prev{width: 27px;height: 27px;}
    .special-offer-slide .swiper-button-prev:after{font-size: 12px;}
    .special-offer-slide .swiper-button-next{width: 27px;height: 27px;}
    .special-offer-slide .swiper-button-next:after{font-size: 12px;}
    .theme-tab-3 .nav{margin-bottom: 0;}
    .product-box-3 .product-detail p span{font-size: 10px;}
    .subscribe-banner .subscribe-content{transform: inherit;width: 100%;position: inherit;}
    .subscribe {padding: 0;}
    .btn_black{padding: 5px;}
    .product-box-3 .product-detail{padding-top: 8px;}
    .product-detail{padding-left: 10px;padding-right: 10px;}
    .product-box-3 .product-detail .rating li i{font-size: 10px;}
    .rating span {font-size: 11px;}
    .pagination-wrap .pagination{margin-top: 18px;}
    .no-cart i{font-size: 14px;}
    .no-cart a{font-size: 14px;padding: 10px 14px;}
    .no-cart h5{font-size: 16px;}
    .shopping-details .offcanvas-body > ul li h6{font-size: 13px !important;}
    .shopping-details .offcanvas-body > ul li .iconsax{--Iconsax-Size: 18px;right: 3px;top: 40%;}
    .releted-list .product-box-3 .product-detail h6 {
        font-size: 12px;
    }
    .releted-list .product-box-3 .product-image a{height: 150px !important;}
    .gap-2{gap: 3px !important;}
    .product-detail-box .product-option .move-fast-box{padding: 5px 12px;}
    .product-detail-box .product-option .move-fast-box p {font-size: 12px;}
    .product-detail-box .product-option .move-fast-box {font-size: 13px;}
    .product-detail-box .product-option > p{margin: 6px 0;}
    .product-detail-box .product-option .quantity-box .quantity input{height: 35px;width: 55px;}
    .product-detail-box .product-option .quantity-box .quantity button{width: 35px;height: 35px;}
    .product-detail-box .product-option .quantity-box .quantity button i{font-size: 12px;}
    .log-in-box .form-floating input{font-size: 16px !important;}
    .submited-review h4{font-size: 13px !important;}
    .comments-box li {width: 100% !important;}
    .product-list li.no-found {display: block !important;}
}

/* Mobile search icon */
.mobile-search .search-icon {
    font-size: 18px;
    cursor: pointer;
}

/* Search box container */
.mobile-search .search-box {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 8;
    padding: 10px;
    background: #DDDDDD;
}

.mobile-search .search-box i {
    position: absolute;
    right: 22px;
    top: 38%;
}
.mobile-search .search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#product-list{
    display: block;
}
#product-list.hidden {
    display: none;
}
/* Product list styling */
.mobile-search .product-list {
    max-height: 280px;
}

.mobile-search .product-list .product-img img {
    width: 40px;
    height: 45px;
    object-fit: cover;
    margin-right: 1px;
}

.mobile-search .product-list .product-info {
    display: inline-block;
    vertical-align: middle;
}

.mobile-search .product-list .product-info span {
    display: block;
    font-size: 14px;
}

.custom-toast-info {
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: #fff;
}

.custom-toast-warning {
    background-color: #f39c12;
    border: 1px solid #e67e22;
    color: #fff;
}

.custom-toast-error {
    background-color: #e74c3c;
    border: 1px solid #c0392b;
    color: #fff;
}
